<!DOCTYPE html>
<html>
  <body>
    <div class="email-container">
      <div class="header">
        <span style="font-family: Montez; font-size: 1.2em;">Cursif</span>
      </div>
      <div class="content">
        <div class="email-body">
          <p>Hi <strong><%= @username %></strong>,</p>
          <p>
            We have received a request to reset your password for your Cursif account. 
            Complete the process with the password reset by clicking the button below
          </p>
        </div>
        <div class="button-container">
          <a class="button" href="<%= @base_url %>">Reset your password</a>
          <div class="message signature">
            <p>If you didn't request a new password, please disregard this email.</p>
          </div>
        </div>
      </div>
      <div style="margin-left: 20px" class="email-signature signature">
        <p>
          Best regards,<br />
          The Cursif Team
        </p>
      </div>
    </div>
  </body>
</html>
